/* styles.css */

@font-face {
    font-family: myfont;
    src: url(/frontend/assets/font/RobotoMono-VariableFont_wght.ttf);
  }


body, html {
    margin: 0;
    padding: 0;
    font-family: myfont;
    background-color: #1E375A;
    color:white;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
    color: #333;
}

#promo-code {
    width:300px;
    border-radius: 20px;
    padding:10px;
    font-size:20px;
}

.container {
    display: flex;
    justify-content: center;

    gap: 20px;
    padding: 20px;
}

.summary {
    padding: 20px;
    width: 900px;
}



#validate-order-button {
    padding: 10px 15px;
    background-color: #d4af37;
    color: white;
    border: none;
    cursor: pointer;
}

#validate-order-button:hover {
    background-color: #0056b3;
}


#cart-items2{
    background-color: rgba(128, 128, 128, 0.315);
    margin-bottom:10px;
    display: flex;
    justify-content: space-between;
}




#cart-left {
    display: flex;
    gap: 80px;
    margin-left:40px;
}


#cart-right {
    display: flex;
    gap: 100px;
    margin-right:20px;
}


.delivery, .payment {
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fees {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#total {
    margin-top:50px;
    margin-bottom: -80px;
    margin-left:0px;
}




#right-commande {
    display: flex;
    align-items: center;
    gap:50px;   
}

#left-commande {
    display: flex;
    align-items: center;
    gap:50px;
}

.payment {
    background-color: rgba(128, 128, 128, 0.315);
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:600px;
}


#jequittetrash {
    width:50px;
    background:none;
}

#cart-left2 {
display: flex;
align-items: center;
gap:75px;
margin-left:15px;
}


#cart-items {
    display: flex;
    width: 900px; /* Tu peux ajuster la largeur selon tes besoins */
    flex-direction: column; /* Change ici pour aligner les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    gap: 20px; /* Espacement entre les éléments */
   
}


#cart-right2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    width:250px;
    margin-right: 10px;
}

.item-total-price {
    width:70px;
    align-items: center;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:900px;
    background-color: rgba(128, 128, 128, 0.315);
    
}

.trash {
    background: none;
    border: none;
    width:50px;
}

#trash {
    width:50px;
}



#jequittetrash:hover {
    transform:scale(1.1);
}



#etapes {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}

.recap {
    background-color: rgba(128, 128, 128, 0.315);
    border-radius: 10px;
    padding-right:20px;
    padding-left:20px;

}

#etapes-commande {
    font-size: 20px;

}

.payment form {
    display: flex;
    flex-direction: column;
    gap: 80px;
}


.payment .fees p {
    margin: 5px 0;
}

#payment-code {
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap:20px;
    
}

.item-image {
    width:100px;
}




#koi-logo {
    width:100px;
}

.header {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}

#header-right {
    margin-right:630px;
    display: flex;
}

#koi-titre {
    width:100px;
    color:white;
}

.continue-shopping{
    text-decoration: none;
color:white;

}

#kanoe {
    display: flex;
    justify-content: center;    
}


.continue-shopping:hover { 
    color:rgba(0, 0, 0, 0.555);

}

#promo-box{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 15px;
}

#promo-code {
    width: 50%;
    
}

#apply-promo {
    width: 30%;
    background-color: #d4af37;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    
    padding: 10px;
}

#apply-promo:hover {
    background-color: #0056b3;
}

#ttl{
    display: flex;
    align-items: center;
    
}

#total-price {
    padding-left: 15px;
}